* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.main-header nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 180px;
    height: 100px;
    padding-left: 30px;
}

.main-header nav .navbar-nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-header nav .navbar-nav a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

.main-header nav .navbar-nav button {
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right, #649bff,#0070fa,#649bff);
    border-radius: 10px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.box {
    position: relative;
    width: 380px;
    height: 420px;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #0070fa, #0070fa);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #0070fa, #0070fa);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
    
}

.form {
    position: absolute;
    inset: 2px;
    border-radius: 10px;
    background-color: #28292d;
    z-index: 10;
    flex-direction: column;
}

.form h1 {
    color: #45f3ff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.1em;
}

.input-box {
    position: relative;
    width: 95%;
    margin-top: 35px;
}

.input-box input {
    position: relative;
    width: 100%;
    padding: 25px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.input-box span {
    position: absolute;
    left: 0;
    padding: 25px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.input-box input:valid ~ span ,
.input-box input:focus ~ span {
    color: #45f3ff;
    transform: translateY(-27px);
    font-size: 0.75em;
}
.input-box i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.input-box input:valid ~ i ,
.input-box input:focus ~ i {
    height: 44px;
}

input[type="submit"] {
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px 25px;
    width: 95%;
    margin: 10px;
    border-radius: 4px;
    font-weight: 600;
}

footer {
    background-color: #000;
    color: #fff;
}

footer div {
    list-style: none;
    text-decoration: none;
}

footer div li a {
    text-decoration: none;
    color: #fff;
}

footer ul li a i{
    font-size: 1.5em;
}
